<ion-content class="ion-padding">
  <div class="ion-padding container">
    <h1>Login</h1>

    <div class="form-container">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"></ion-input>
          <ion-icon name="eye" slot="end"></ion-icon>
        </ion-item>

        <ion-button
          routerDirection="root"
          expand="block"
          routerLink="/menu/home"
          class="main-button"
          >Log in</ion-button
        >

        <div class="sign-up">
          Don't have an account?
          <ion-button
            color="dark"
            fill="clear"
            routerLink="/signup"
            routerDirection="root"
            >Sign up</ion-button
          >
        </div>
    </div>
  </div>
</ion-content>
